<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
     type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
     initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <add name="SeguridadEntities" connectionString="metadata=res://*/Seguridad.csdl|res://*/Seguridad.ssdl|res://*/Seguridad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Seguridad;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Service1MEXBehavior" name="Helios.Seguridad.WCFService.ServiceImplementation.SeguridadService">
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <endpoint address="" binding="basicHttpBinding" contract="Helios.Seguridad.WCFService.ServiceContract.ISeguridadService" />
        <endpoint address="net.tcp://localhost:8099/SeguridadService"
          binding="netTcpBinding" contract="Helios.Seguridad.WCFService.ServiceContract.ISeguridadService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8089/SeguridadService" />
            <add baseAddress="net.tcp://localhost:8099/SeguridadService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Service1MEXBehavior" >
          <serviceThrottling maxConcurrentCalls="2000000" maxConcurrentSessions="2000000" maxConcurrentInstances="2000000" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="999999999" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding >
        <binding maxReceivedMessageSize="10485760"  />
      </basicHttpBinding>
      <netTcpBinding>
        <binding maxReceivedMessageSize="10485760"  />
        <binding name="HeliosNetTcpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
       transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
       hostNameComparisonMode="StrongWildcard" listenBacklog="10"
       maxBufferPoolSize="999999999" maxBufferSize="999999999"
       maxConnections="10" maxReceivedMessageSize="999999999" portSharingEnabled="true">
          <readerQuotas maxDepth="0" maxStringContentLength="999999999" maxArrayLength="999999999" maxBytesPerRead="999999999" maxNameTableCharCount="0" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" algorithmSuite="Default" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true"
							   aspNetCompatibilityEnabled="true" />-->
  </system.serviceModel>
</configuration>
