<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.diagnostics>
    <sources>
      <source name="Tesseract" switchValue="Verbose">
        <listeners>
          <clear />
          <add name="console" />
          <!-- Uncomment to log to file
                <add name="file" />
                -->
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" />

      <!--Uncomment to log to file-->
      <!--<add name="file"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="c:\log\tesseract.log" />-->

    </sharedListeners>
  </system.diagnostics>
  <!--<system.net>
    <mailSettings>
      <smtp from="V0dvLi8v86E8AAWNU4CYzpsqpYchb6mn2bQC+cPWwlo=">
        <network host="K1npvjg0PfkNi+th3h68Lg==" port="587" defaultCredentials="false" userName="V0dvLi8v86E8AAWNU4CYzpsqpYchb6mn2bQC+cPWwlo=" password="XkXM9QR1qg/OFhN3QL+BOf4U03O0+CKbyFlQ/IOCKIQ=" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>-->
  <appSettings>
    <add key="Licenses" value="/PZaiF17t          .Tuy8nfuZIHn6RHNYkf1EzBB/aTho0LTKe7CDzcHObP+475uDOqJ06XSXb2dcZwmTxSvy2Tm2i81wt9Mo2Q/zRsbkmXaj5dP84o=" />
    <add key="Server" value="vV8/A387VLGCIYhDuGI72jDNXtt9aoI2g161ba9xrSA=" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="HELIOSEntities" connectionString="metadata=res://*/Helios.csdl|res://*/Helios.ssdl|res://*/Helios.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HELIOS;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SeguridadEntities" connectionString="metadata=res://*/Seguridad.csdl|res://*/Seguridad.ssdl|res://*/Seguridad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Seguridad;Integrated Security=True&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GenericBasicHttpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="SeguridadNetTcpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:15:00" sendTimeout="00:15:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="0" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="0" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />

        </binding>

        <binding maxReceivedMessageSize="2147483647" />
        <!--<binding name="HeliosNetTcpBinding" maxReceivedMessageSize ="2147483647" />-->
        <binding name="HeliosNetTcpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:15:00" sendTimeout="00:15:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="0" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="0" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <!--<security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None" algorithmSuite="Default"/>
          </security>-->
        </binding>


      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="ServiceMEXBehavior">
          <serviceThrottling maxConcurrentCalls="2000000" maxConcurrentSessions="2000000" maxConcurrentInstances="2000000" />
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="999999999" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="LargeQuotaBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />

        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://148.102.27.231/Helios.FacturadorPSE/Helios.Fact.Sunat.WCFService.ServiceImplementation.FactService.svc" behaviorConfiguration="LargeQuotaBehavior" binding="basicHttpBinding" bindingConfiguration="GenericBasicHttpBinding" contract="Helios.Fact.Sunat.WCFService.ServiceContract.IFactService" name="FactService" />
      <endpoint address="http://192.168.1.30/Helios.Cont/Helios.Cont.WCFService.ServiceImplementation.ContService.svc" behaviorConfiguration="LargeQuotaBehavior" binding="basicHttpBinding" bindingConfiguration="GenericBasicHttpBinding" contract="Helios.Cont.WCFService.ServiceContract.IContService" name="ContService" />
      <endpoint address="http://192.168.1.30/Helios.Seguridad/Helios.Seguridad.WCFService.ServiceImplementation.SeguridadService.svc" behaviorConfiguration="LargeQuotaBehavior" binding="basicHttpBinding" bindingConfiguration="GenericBasicHttpBinding" contract="Helios.Seguridad.WCFService.ServiceContract.ISeguridadService" name="SeguridadService" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Grid.Windows" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.4400.0.24" newVersion="12.4400.0.24" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Grid.Grouping.Windows" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.4400.0.24" newVersion="12.4400.0.24" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.4400.0.24" newVersion="12.4400.0.24" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Grouping.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.4400.0.24" newVersion="12.4400.0.24" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
