<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.diagnostics>
    <sources>

    </sources>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" />

      <!--Uncomment to log to file-->
      <!--<add name="file"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="c:\log\tesseract.log" />-->

    </sharedListeners>
  </system.diagnostics>
  <system.net>
    <!--<  <mailSettings>
      <smtp from="V0dvLi8v86E8AAWNU4CYzpsqpYchb6mn2bQC+cPWwlo=">
        <network host="K1npvjg0PfkNi+th3h68Lg==" port="587" defaultCredentials="false" userName="V0dvLi8v86E8AAWNU4CYzpsqpYchb6mn2bQC+cPWwlo=" password="XkXM9QR1qg/OFhN3QL+BOf4U03O0+CKbyFlQ/IOCKIQ=" enableSsl="true" />
      </smtp>
    </mailSettings>-->
  </system.net>
  <appSettings>
    <add key="Licenses" value="/PZaiF17t          .Tuy8nfuZIHn6RHNYkf1EzBB/aTho0LTKe7CDzcHObP+475uDOqJ06XSXb2dcZwmTxSvy2Tm2i81wt9Mo2Q/zRsbkmXaj5dP84o=" />
    <add key="Server" value="vV8/A387VLGCIYhDuGI72jDNXtt9aoI2g161ba9xrSA=" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>

    <!--<add name="PlanillaEntities" connectionString="metadata=res://*/Planilla.csdl|res://*/Planilla.ssdl|res://*/Planilla.msl;provider=System.Data.SqlClient;provider connection string=&quot;Persist Security Info=False;User ID=usuario;Password=usuario007;Initial Catalog=Planilla_ex;Server=192.168.1.24&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HELIOSEntities" connectionString="metadata=res://*/HELIOS.csdl|res://*/HELIOS.ssdl|res://*/HELIOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Persist Security Info=False;User ID=jimi;Password=jimi;Initial Catalog=HELIOS;Server=25.53.168.140\SQLEXPRESS&quot;" providerName="System.Data.EntityClient" />
    <add name="SeguridadEntities" connectionString="metadata=res://*/Seguridad.csdl|res://*/Seguridad.ssdl|res://*/Seguridad.msl;provider=System.Data.SqlClient;provider connection string=&quot;Persist Security Info=False;User ID=jimi;Password=jimi;Initial Catalog=Seguridad;Server=25.53.168.140\SQLEXPRESS&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="HELIOSEntities" connectionString="metadata=res://*/HELIOS.csdl|res://*/HELIOS.ssdl|res://*/HELIOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Persist Security Info=False;User ID=softpack2;Password=Softpack12345;Initial Catalog=HELIOS;Server=192.168.1.30&quot;" providerName="System.Data.EntityClient" />
    <add name="SeguridadEntities" connectionString="metadata=res://*/Seguridad.csdl|res://*/Seguridad.ssdl|res://*/Seguridad.msl;provider=System.Data.SqlClient;provider connection string=&quot;Persist Security Info=False;User ID=softpack2;Password=Softpack12345;Initial Catalog=Seguridad;Server=192.168.1.30&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="HELIOSEntities" connectionString="metadata=res://*/HELIOS.csdl|res://*/HELIOS.ssdl|res://*/HELIOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Persist Security Info=False;User ID=jimi;Password=jimi;Initial Catalog=HELIOS;Server=192.168.2.55\SQLEXPRESS&quot;" providerName="System.Data.EntityClient" />
    <add name="SeguridadEntities" connectionString="metadata=res://*/Seguridad.csdl|res://*/Seguridad.ssdl|res://*/Seguridad.msl;provider=System.Data.SqlClient;provider connection string=&quot;Persist Security Info=False;User ID=jimi;Password=jimi;Initial Catalog=Seguridad;Server=192.168.2.55\SQLEXPRESS&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="HELIOSEntities" connectionString="metadata=res://*/HELIOS.csdl|res://*/HELIOS.ssdl|res://*/HELIOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Persist Security Info=False;User ID=softpack;Password=1234;Initial Catalog=HELIOS;Server=192.168.1.30&quot;" providerName="System.Data.EntityClient" />
    <add name="SeguridadEntities" connectionString="metadata=res://*/Seguridad.csdl|res://*/Seguridad.ssdl|res://*/Seguridad.msl;provider=System.Data.SqlClient;provider connection string=&quot;Persist Security Info=False;User ID=softpack;Password=1234;Initial Catalog=Seguridad;Server=192.168.1.30&quot;" providerName="System.Data.EntityClient" />-->

    <!-- <add name="HELIOSEntities" connectionString="metadata=res://*/HELIOS.csdl|res://*/HELIOS.ssdl|res://*/HELIOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Persist Security Info=False;User ID=usuario;Password=usuario007;Initial Catalog=HELIOS;Server=192.168.1.199&quot;" providerName="System.Data.EntityClient" />
    <add name="SeguridadEntities" connectionString="metadata=res://*/Seguridad.csdl|res://*/Seguridad.ssdl|res://*/Seguridad.msl;provider=System.Data.SqlClient;provider connection string=&quot;Persist Security Info=False;User ID=usuario;Password=usuario007;Initial Catalog=Seguridad;Server=192.168.1.199&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="PlanillaEntities" connectionString="metadata=res://*/Planilla.csdl|res://*/Planilla.ssdl|res://*/Planilla.msl;provider=System.Data.SqlClient;provider connection string=&quot;Persist Security Info=False;User ID=martinangel;Password=martin;Initial Catalog=Planilla_ex;Server=192.168.0.10&quot;" providerName="System.Data.EntityClient" />
    <add name="HELIOSEntities" connectionString="metadata=res://*/HELIOS.csdl|res://*/HELIOS.ssdl|res://*/HELIOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Persist Security Info=False;User ID=martinangel;Password=martin;Initial Catalog=HELIOS;Server=192.168.0.10&quot;" providerName="System.Data.EntityClient" />
    <add name="SeguridadEntities" connectionString="metadata=res://*/Seguridad.csdl|res://*/Seguridad.ssdl|res://*/Seguridad.msl;provider=System.Data.SqlClient;provider connection string=&quot;Persist Security Info=False;User ID=martinangel;Password=martin;Initial Catalog=Seguridad;Server=192.168.0.10&quot;" providerName="System.Data.EntityClient" />-->

    <add name="HELIOSEntities" connectionString="metadata=res://*/Helios.csdl|res://*/Helios.ssdl|res://*/Helios.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HELIOS_old;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SeguridadEntities" connectionString="metadata=res://*/Seguridad.csdl|res://*/Seguridad.ssdl|res://*/Seguridad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Seguridad_old;Integrated Security=True&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="HELIOSEntities" connectionString="metadata=res://*/HELIOS.csdl|res://*/HELIOS.ssdl|res://*/HELIOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|App_Data\HELIOS.mdf;Connect Timeout=30;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SeguridadEntities" connectionString="metadata=res://*/Seguridad.csdl|res://*/Seguridad.ssdl|res://*/Seguridad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|App_Data\Seguridad.mdf;Connect Timeout=30;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PlanillaEntities" connectionString="metadata=res://*/Planilla.csdl|res://*/Planilla.ssdl|res://*/Planilla.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|App_Data\Planilla_ex.mdf;Connect Timeout=30;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


    <!--<add name="HELIOSEntities" connectionString="metadata=res://*/HELIOS.csdl|res://*/HELIOS.ssdl|res://*/HELIOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Persist Security Info=False;User ID=carlos;Password=123;Initial Catalog=HELIOS;Server=192.168.0.60&quot;" providerName="System.Data.EntityClient" />
    <add name="SeguridadEntities" connectionString="metadata=res://*/Seguridad.csdl|res://*/Seguridad.ssdl|res://*/Seguridad.msl;provider=System.Data.SqlClient;provider connection string=&quot;Persist Security Info=False;User ID=carlos;Password=123;Initial Catalog=Seguridad;Server=192.168.0.60&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="Helios.Cont.WCFService.ServiceImplementation.ContService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <endpoint address="net.tcp://localhost:8019/ContService" binding="netTcpBinding" contract="Helios.Cont.WCFService.ServiceContract.IContService" bindingConfiguration="HeliosNetTcpBinding" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8019/ContService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Helios.Seguridad.WCFService.ServiceImplementation.SeguridadService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <endpoint address="net.tcp://localhost:8099/SeguridadService" binding="netTcpBinding" contract="Helios.Seguridad.WCFService.ServiceContract.ISeguridadService" bindingConfiguration="SeguridadNetTcpBinding" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8099/SeguridadService" />
          </baseAddresses>
        </host>
      </service>

    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="GenericBasicHttpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="SeguridadNetTcpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:15:00" sendTimeout="00:15:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="0" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="0" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
        </binding>
        <!--<binding name="SeguridadNetTcpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:15:00" sendTimeout="00:15:00" 
                 transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" 
                 listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647" 
                 portSharingEnabled="false">
          <readerQuotas maxDepth="0" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="0"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None" algorithmSuite="Default"/>
          </security>
        </binding>-->
        <binding maxReceivedMessageSize="2147483647" />
        <!--<binding name="HeliosNetTcpBinding" maxReceivedMessageSize ="2147483647" />-->
        <binding name="HeliosNetTcpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:15:00" sendTimeout="00:15:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="0" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="0" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <!--<security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None" algorithmSuite="Default"/>
          </security>-->
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="ServiceMEXBehavior">
          <serviceThrottling maxConcurrentCalls="2000000" maxConcurrentSessions="2000000" maxConcurrentInstances="2000000" />
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="999999999" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="LargeQuotaBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://138.128.171.106/Helios.FacturadorEnvioCloud/Helios.Fact.Sunat.WCFService.ServiceImplementation.FactService.svc" behaviorConfiguration="LargeQuotaBehavior" binding="basicHttpBinding" bindingConfiguration="GenericBasicHttpBinding" contract="Helios.Fact.Sunat.WCFService.ServiceContract.IFactService" name="FactService" />

      <endpoint address="net.tcp://localhost:8019/ContService" behaviorConfiguration="LargeQuotaBehavior" binding="netTcpBinding" contract="Helios.Cont.WCFService.ServiceContract.IContService" name="ContService" bindingConfiguration="HeliosNetTcpBinding">
        <!--<identity>
          <dns value="localhost" />
        </identity>-->
      </endpoint>
      <endpoint address="net.tcp://localhost:8099/SeguridadService" behaviorConfiguration="LargeQuotaBehavior" binding="netTcpBinding" contract="Helios.Seguridad.WCFService.ServiceContract.ISeguridadService" name="SeguridadService" bindingConfiguration="SeguridadNetTcpBinding">
        <!--<identity>
          <dns value="localhost" />
        </identity>-->
      </endpoint>

    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Grid.Windows" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.4460.0.42" newVersion="16.4460.0.42" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Grid.Grouping.Windows" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.4460.0.42" newVersion="16.4460.0.42" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.4460.0.42" newVersion="16.4460.0.42" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Grouping.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.4460.0.42" newVersion="16.4460.0.42" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
