@model Helios.Cont.Presentation.Web.Models.ViewModelGeneral

@{
    ViewBag.Title = "Pedidos Registrados";
}


<h3>Listado de pedidos</h3>
<script>
   UsuariosSystem = @Helios.Cont.Presentation.Web.Models.JavaScriptConvert.SerializeObject(Model.UsuariosSistema);
</script>


<div id="Main">
    @*<form class="form-inline">*@

    <table class="table table-responsive" border="0">
        <tr>
            <td width="25%">
                <select id="cboMes" class="form-control">
                    <option id="00" value="-1">-Mes-</option>
                    <option id="01" value="01">ENERO</option>
                    <option id="02" value="02">FEBRERO</option>
                    <option id="03" value="03">MARZO</option>
                    <option id="04" value="04">ABRIL</option>
                    <option id="05" value="05">MAYO</option>
                    <option id="06" value="06">JUNIO</option>
                    <option id="07" value="07">JULIO</option>
                    <option id="08" value="08">AGOSTO</option>
                    <option id="09" value="09">SETIEMBRE</option>
                    <option id="10" value="10">OCTUBRE</option>
                    <option id="11" value="11">NOVIEMBRE</option>
                    <option id="12" value="12">DICIEMBRE</option>
                </select>
            </td>
            <td width="25%">
                <input type="number" name="Anio" id="textAnio" class="form-control" value="2019" />
            </td>
            <td width="10">
                <button id="btnConsultar" class="btn btn-success">Ver pedidos</button>
            </td>
            <td>
                <button id="btnNuevo" class="btn btn-primary">Nuevo</button>
            </td>
        </tr>
    </table>

    @*<button id="btnConsultar" class="btn btn-success btn-sm">Ver pedidos</button>*@
    <div style="text-align:center;display:none" id="loaderPedido">
        @*<img src="~/Content/images/load.gif" />*@
        <img src="~/Content/images/basicloader.gif" />
    </div>
    <table id="datatable" class="table table-responsive table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha Pedido</th>
                <th>Vendedor</th>
                <th>Nro. Pedido</th>
                <th>Cliente/Comprador</th>
                <th>Ruc/DNI</th>
                <th>moneda</th>
                <th>Total</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    @*</form>*@
</div>
